@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080b38;
  color: #feedd9;
  font-family: "Jost";
  letter-spacing: 3px;
  transition-duration: 300ms;
  --vs-controls-color: #f8ac8c;
  --vs-border-color: #f8ac8c;

  --vs-dropdown-bg: #133155;
  --vs-dropdown-color: #133155;
  --vs-dropdown-option-color: #f8ac8c;

  --vs-selected-bg: #133155;
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: #080b38;
  --vs-dropdown-option--active-color: #eeeeee;
}
