@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition-duration: 300ms !important;
  background-color: #080b38;
  color: #feedd9;
  font-family: "Jost";
  letter-spacing: 3px;
  --vs-search-input-placeholder-color: #9c9b9b;

  --vs-controls-color: #f8ac8c;
  --vs-border-color: #f8ac8c;
  --vs-dropdown-max-height: 200px;
  --vs-dropdown-bg: #133155;
  --vs-dropdown-color: #133155;
  --vs-dropdown-option-color: #ff4d00;

  --vs-selected-bg: #133155;
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: #080b38;
  --vs-dropdown-option--active-color: #eeeeee;
}

.gradient {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 212, 255, 0) 100%
  );
}
